---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const content = 'Hello World';
---

<Layout title="About">
    <h1 class="mb-10">About</h1>
    <Markdown content={content} class="mb-10 text-lg" />
</Layout>
