---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const content = `This website is a work in progress(broken). It's kind of just a hobby blog for now. A place where I can post creative things, share my thoughts, cool projects and ask questions and answer them.`;
---

<Layout title="About">
    <h1 class="mb-10">About</h1>
    <Markdown content={content} class="mb-10 text-lg" />
</Layout>
