---
import Logo from '../components/Logo.astro';

const pages = Object.values(await import.meta.glob('../pages/[^_]*.{astro,md,mdx}', { eager: true }));
const navItems = pages
    .filter((p) => !p.file.includes('[...404]')) // Optionally filter out error pages
    .map((p) => {
        let href = p.file
            .replace(/\\/g, '/') // Windows path fix
            .replace(/^.*\/pages\//, '/')
            .replace(/\.(astro|mdx?|md)$/, '')
            .replace(/\/index$/, '/');
        if (href === '') href = '/';
        const linkText =
            href === '/'
                ? 'Home'
                : href
                      .replace(/^\//, '')
                      .replace(/-/g, ' ')
                      .replace(/\b\w/g, (c) => c.toUpperCase());
        return { linkText, href };
    });
---

<nav class="flex flex-wrap items-center gap-4 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <a href="/">
        <Logo />
    </a>
    {
        !!navItems?.length && (
            <ul class="flex flex-wrap gap-x-4 gap-y-1">
                {navItems.map((item) => (
                    <li>
                        <a href={item.href} class="inline-block px-1.5 py-1 sm:px-3 sm:py-2">
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
</nav>
